body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#mic-button{
  height:5vh;
  display:block;
  height: 50px;
  width: 50px;

}
.rcw-conversation-container > .rcw-header {
  background-color: pink

}
#mic-button:active {
 
  color:red;
  
  transform: translateY(4px);
}

.ChatWrapper{
  height:80vh;
  width:100%
}
.sound-wave{
  width:100%
}